<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/axios.min.js"></script>
  </head>
  <body>
    <label for="">
      上传图片：<input type="file" id="uploadBtn">
    </label>
  </body>
</html>
